# Models

## Install prerequisites

In [6]:
# !cd .. && make install
# !pwd

In [1]:
import sys
from pprint import pprint
from dotenv import load_dotenv, find_dotenv

sys.path.append('..')

load_dotenv(find_dotenv())

ticker = 'MSFT'

%load_ext autoreload
%autoreload 2

In [2]:
# FIX: Considering we call sync methods we should not have to do this
import nest_asyncio
nest_asyncio.apply()

In [3]:
# Disable cache for testing
import os
os.environ['PROVIDER_CACHE_ENABLED'] = 'False'  
# os.environ['FLOW_CACHE_ENABLED'] = 'False'

## Blackrock Providers

### BlackrockHoldingsProvider

In [27]:
from app.providers.blackrock import create_blackrock_holdings_provider

provider = create_blackrock_holdings_provider()
# provider.get_data_sync("CSNDX").data      # Nasdaq 100
# provider.get_data_sync("CSPX").data       # S&P 500
provider.get_data_sync("EXSA.DE").data    # STOXX 600
# provider.get_data_sync("IWLE.DE").data    # MSCI World

,symbol,holding_name,sector,asset_class,market_value,weight,shares,price,country,exchange,market_currency,ticker
0,ASML,ASML HOLDING NV,Information Technology,Equity,NaN,2.18,NaN,642.90,Netherlands,Euronext Amsterdam,EUR,EXSA.DE
1,SAP,SAP,Information Technology,Equity,NaN,2.10,NaN,239.65,Germany,Xetra,EUR,EXSA.DE
2,AZN,ASTRAZENECA PLC,Health Care,Equity,NaN,1.79,NaN,134.69,United Kingdom,London Stock Exchange,GBP,EXSA.DE
3,NOVN,NOVARTIS AG,Health Care,Equity,NaN,1.75,NaN,104.73,Switzerland,SIX Swiss Exchange,CHF,EXSA.DE
4,NESN,NESTLE SA,Consumer Staples,Equity,NaN,1.70,NaN,76.57,Switzerland,SIX Swiss Exchange,CHF,EXSA.DE
...,...,...,...,...,...,...,...,...,...,...,...,...
608,SEK,SEK CASH,Cash and/or Derivatives,Cash,NaN,0.00,NaN,8.95,Sweden,-,SEK,EXSA.DE
609,GEL,GEL CASH(COMMITTED),Cash and/or Derivatives,Cash,NaN,0.00,NaN,31.76,Georgia,-,GEL,EXSA.DE
610,MARGIN_EUR,FUTURES EUR MARGIN BALANCE,Cash and/or Derivatives,Cash Collateral and Margins,0.00,0.00,0.0,100.00,European Union,-,EUR,EXSA.DE
611,2587224D,TELECOM ITALIA SPA,Communication,Equity,124.02,0.00,NaN,0.00,Italy,Borsa Italiana,EUR,EXSA.DE
612,SXOU5,STOXX EUROPE 600 SEP 25,Cash and/or Derivatives,Futures,0.00,0.00,NaN,554.70,European Union,Eurex Deutschland,EUR,EXSA.DE

## Fred Providers

### FredSeriesProviders

In [14]:
from app.providers.fred import create_fred_series_provider

provider = create_fred_series_provider()
provider.get_data_sync('GDP').data

                value
date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2024-04-01  29016.714
2024-07-01  29374.914
2024-10-01  29723.864
2025-01-01  29962.047
2025-04-01  30331.117

[314 rows x 1 columns]

## IBKR Providers

In [37]:
os.environ['IB_GATEWAY_CLIENT_PORT'] = '4002'  # Paper portfolio

### IBKRPositionsProvider

In [41]:
from app.providers.ibkr import create_ibkr_positions_provider

provider = create_ibkr_positions_provider()
_ = provider.get_data_sync().data

### IBKRCashProvider

In [42]:
from app.providers.ibkr import create_ibkr_cash_provider

provider = create_ibkr_cash_provider()
_ = provider.get_data_sync().data

## Shiller Providers

### ShillerCAPEProvider

In [6]:
from app.providers.shiller import create_shiller_cape_provider

provider = create_shiller_cape_provider()
provider.get_data_sync().data

                 CAPE  Excess_CAPE_Yield
Date
1881-01-01  18.473952          -0.010489
1881-02-01  18.147258          -0.011393
1881-03-01  18.270119          -0.013123
1881-04-01  17.950108          -0.007504
1881-05-01  18.869719          -0.008881
...               ...                ...
2025-05-01  35.076007           0.014912
2025-06-01  36.108975           0.014487
2025-07-01  37.469882           0.013530
2025-08-01  38.031442           0.014659
2025-08-01  37.972942           0.015199

[1737 rows x 2 columns]

## Tipranks Providers

In [1]:
from app.providers.tipranks import create_tipranks_data_provider

provider = create_tipranks_data_provider()
pprint(provider.get_data_sync(ticker).data.model_dump())

ModuleNotFoundError: No module named 'app'

In [36]:
from app.providers.tipranks import create_tipranks_news_sentiment_provider

provider = create_tipranks_news_sentiment_provider()
pprint(provider.get_data_sync(ticker).data.model_dump())

{'articles_last_week': 121,
 'bearish_percent': 0.2,
 'bullish_percent': 0.8,
 'buzz_score': 0.8962,
 'company_name': 'Microsoft',
 'sector_avg_bullish_percent': 0.5702,
 'sentiment_score': 0.7272,
 'ticker': 'MSFT',
 'weekly_average': 135.0,
 'word_cloud_count': 9}

### TipranksDataProviders

## Yahoo Providers

### YahooHistoryProvider

In [17]:
from app.providers.yahoo import create_yahoo_history_provider

provider = create_yahoo_history_provider()
provider.get_data_sync(ticker).data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.05,0.06,0.05,0.06,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.06,0.06,0.06,0.06,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.06,0.06,0.06,0.06,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.06,0.06,0.06,0.06,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2025-08-11 00:00:00-04:00,522.30,527.59,519.72,521.77,20194400,0.0,0.0
2025-08-12 00:00:00-04:00,523.75,530.98,522.70,529.24,18667000,0.0,0.0
2025-08-13 00:00:00-04:00,532.11,532.70,519.37,520.58,19619200,0.0,0.0
2025-08-14 00:00:00-04:00,522.56,525.95,520.14,522.48,20269100,0.0,0.0
2025-08-15 00:00:00-04:00,522.77,526.10,519.08,520.17,25191800,0.0,0.0

### YahooInfoProvider

In [15]:
from app.providers.yahoo import create_yahoo_info_provider

provider = create_yahoo_info_provider()
pprint(provider.get_data_sync(ticker).data.model_dump())

{'beta': 1.055,
 'change': -2.31,
 'company_name': 'Microsoft Corporation',
 'currency': 'USD',
 'dividend_yield': 0.64,
 'exchange': 'NMS',
 'industry': 'Software - Infrastructure',
 'market_cap': 3866511802368,
 'pe_ratio': 38.16361,
 'percent_change': -0.442122,
 'price': 520.17,
 'sector': 'Technology',
 'ticker': 'MSFT',
 'volume': 22434808,
 'week_52_high': 555.45,
 'week_52_low': 344.79}

## Zacks Providers

### ZacksProvider

In [16]:
from app.providers.zacks import create_zacks_provider

provider = create_zacks_provider()
pprint(provider.get_data_sync(ticker).data.model_dump())

AttributeError: 'NoneType' object has no attribute 'model_dump'